---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: postgres
spec:
  entryPoints:
    - home-postgres
  routes:
    - match: HostSNI(`*`)
      services:
        - name: home-postgres
          port: 5432
